[user]
    name = harutaka
    email = 10650294+harutaka@users.noreply.github.com
[init]
    defaultBranch = main
[credential]
    helper = store
[includeIf "gitdir:~/work/"]
    path = "~/.gitconfig_work"
